<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Informes TBK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['generar']" routerLinkActive="active">Generar Informes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['capacity']" routerLinkActive="active">Generar Capacity</a>
            </li>
            <li class="nav-item">
                <a *ngIf="jsonDataService.infoCargada" class="nav-link" href="#" [routerLink]="['informes','BO']" routerLinkActive="active">Backoffice</a>
            </li>
            <li class="nav-item">
                <a *ngIf="jsonDataService.infoCargada" class="nav-link" href="#" [routerLink]="['informes','BE']" routerLinkActive="active">Backend</a>
            </li>
            <li class="nav-item">
                <a *ngIf="jsonDataService.infoCargada" class="nav-link" href="#" [routerLink]="['informes','PI']" routerLinkActive="active">Plataforma Integracion</a>
            </li>
        </ul>
    </div>
</nav>