<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#"> <img src="../../../assets//images/logo2.png" style="height: 35px;"></a> -->
    <a class="navbar-brand mr-5"> <img src="../../../assets//images/logoaccenture.png" style="height: 19px; margin-top: -12px;"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-3">
                <a class="nav-link" href="#" [routerLink]="['generar']" routerLinkActive="active"><i class="far fa-file-pdf"></i>&nbsp; Informe Semanal</a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link" href="#" [routerLink]="['capacity']" routerLinkActive="active"><i class="fas fa-users"></i>&nbsp; Capacity</a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link" href="#" [routerLink]="['ars-gfac']" routerLinkActive="active"><i class="fas fa-paperclip"></i>&nbsp; ARS/JIRA</a>
            </li>

            <!-- SLA -->
            <li class="nav-item mr-auto">
                <a class="nav-link" href="#" [routerLink]="['sla']" routerLinkActive="active"><i class="far fa-clock"></i>&nbsp; SLA</a>
            </li>

            <!-- CUADRA_FACTURACION -->
            <li class="nav-item mr-auto">
                <a class="nav-link" href="#" [routerLink]="['cuadra-facturacion']" routerLinkActive="active"><i class="fas fa-dollar-sign"></i>&nbsp; Facturación</a>
            </li>

            <!-- MYWIZARD ROXANA VIDAL -->
            <li class="nav-item mr-auto">
                <a class="nav-link" href="#" [routerLink]="['mywizard-rv']" routerLinkActive="active"><i class="fas fa-dollar-sign"></i>&nbsp; MyWizard RV</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-1">
            <li class="nav-item ">
                <a *ngIf="jsonDataService.infoCargada" class="nav-link" href="#" [routerLink]="['informes','BO']" routerLinkActive="active"><i class="fas fa-laptop"></i>&nbsp; Backoffice</a>
            </li>
            <li class="nav-item ">
                <a *ngIf="jsonDataService.infoCargada" class="nav-link" href="#" [routerLink]="['informes','BE']" routerLinkActive="active"><i class="fas fa-server"></i>&nbsp; Backend</a>
            </li>
            <li class="nav-item ">
                <a *ngIf="jsonDataService.infoCargada" class="nav-link" href="#" [routerLink]="['informes','PI']" routerLinkActive="active"><i class="fas fa-network-wired"></i>&nbsp; Plataforma Integracion</a>
            </li>
            <!-- <a class="navbar-brand pt-0" href="#"> <img src="../../../assets//images/logoaccenture2.png" style="height: 12px; width: 87px;"></a> -->
            <a class="navbar-brand ml-3"> <img src="../../../assets//images/logo2.png" style="height: 35px;margin-top: -5px;"></a>
            <li class="nav-item">
                <a class="nav-link" style="margin-left: -10px;"><small class="text-muted" style="font-size: 8px;"> v2.7.3</small></a>
            </li>
        </ul>
    </div>
</nav>