<div class="container">

    <!-- gráficos -->
    <div>
        <div class="chart-container" style="float:left;width: 40%;">
            <h3>CONSUMO TOTAL MENSUAL HH</h3>
            <canvas id="MyChart" #MyChart>{{ chart }}</canvas>
        </div>
        <div class="chart-container" style="float:right;width: 60%;">
            <h3>CONSUMO MENSUAL HH POR TIPO DE REQUERIMIENTO</h3>
            <canvas id="MyChartBarra" #MyChartBarra>{{ chartBarra }}</canvas>
        </div>

        <!-- <div class="chart-container" style="float:right;width: 60%;">
            <h3>CONSUMO MENSUAL HH POR SERVICIO</h3>
            <canvas id="chartDetalles" #chartDetalles>{{ chartDetalles }}</canvas>
        </div> -->

    </div>

    <!-- tabla detalle consumo de horas -->
    <table class="table table-striped table-bordered letraGrande">
        <thead class="bg-dark small font-weight-bold text-light">
            <th>Servicio</th>
            <th>Consumo de horas</th>
            <th>% sobre las horas presupuestadas</th>
        </thead>
        <tbody>
            <tr *ngFor="let fila of tabla;">
                <td class="small">{{ fila[0] }}</td>
                <td class="small">{{ fila[1] }}</td>
                <td class="small">{{ fila[2] }}</td>
            </tr>
        </tbody>
 <!--        <tfoot>
            <tr>
                <td class="small"><b>Total:</b></td>
                <td class="small"><b>{{ tablaTotal }}</b></td>
            </tr>
        </tfoot>
  -->   </table>

    <!-- tabla de informe semanal -->
    <table class="table table-striped table-bordered letraGrande" id="tablaConsumoTotal" #tablaConsumoTotal>
        <thead class="bg-dark">
            <tr>
                <th class="small font-weight-bold text-light" scope="col" colspan="5">CONSUMO DE HORAS</th>
            </tr>
            <tr class="small font-weight-bold text-light">
                <th>Mes</th>
                <th>HH Presupuestadas</th>
                <th>HH Utilizadas</th>
                <th>Saldo Acumulado</th>
                <th>Saldo Mensual</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mes of mantoInformeSemanalConfService.getMonthNames(); let i=index">
                <td class="small">{{ mes }}</td>
                
                <td class="small">{{ totales[i+1]['propuestas'] }}</td>

                <td class="small">
                    {{ totales[i+1]['utilizadas'] }}
                </td>

                <td class="small">{{ totales[i+1]['saldoAcumulado'] }}</td>

                <td class="small">{{ totales[i+1]['saldoMensual'] }}</td>
            </tr>
            <tr >
                <th>Total</th>
                
                <th>{{ sumas['utilizadas'] }}</th>
                <th>{{ sumas['propuestas'] }}</th>
                <th></th>
                <th></th>
                <!-- <th>{{ sumas['saldo'] }}</th> -->
            </tr>
        </tbody>
    </table>

    <hr>

    <div class="col-sm-12 derecha">
        <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generaNuevoPDF()">
           Exportar Informe PDF
           <img
           src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABK0lEQVRIx+2UvUpDMRiGn6hQ/NucRHQT2sFJcOgViKB34Sh4Ed6Ag6u4CIKzToIiblZwc9GlXRxE/KGCYB8HoxyqR05az+a7hITkffIm+QL/SpG6pLbsXU11MesZugBNYKrPfTZDCNN5AP/iJEIIX74DCes2gTngOgWWAtgHqkCjLMAYcAJMlAWohhBugVpZgMHYXqYAir6iDjAL1CPgDBjNNe3hFR0CFWCbjzpZAe6BJ+CxcJyc6uyo8+qW+qIeqONqJbaTak29+1yQ9RwqwN0BLoAZYDcmWAfOgePY7wBvqQme1TV1WN1Q2z+ka6tX6kN2sMglvwLLwAJwChx1z/1N2UvOO6IGcBNj76WYf4PlJOjEXdeBkWTTTILSv+vuOlgFWv2YR49/Fdc7ntsGSiB6CfMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDctMDdUMTc6MTM6MjIrMDA6MDCkJIB1AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA3LTA3VDE3OjEzOjIyKzAwOjAw1Xk4yQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII="
           alt="">
       </button>
   </div>

    <hr>

    <div class="col-sm-12 derecha">
        <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generateExcel()">
            Exportar detalles Excel 
            <img src="../../../assets/images/file-excel-regular.png" style="width: 12px; height: 17px;" alt="">
        </button>
    </div>

    <hr>

    <div class="accordion" id="accordionTablaHoras">
        <!-- Universo de horas -->
        <div class="card">
            <div class="card-header" id="headingTablaHoras">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTablaHoras" aria-expanded="false" aria-controls="collapseTablaHoras">
                        Exportación de Horas
                    </button>
                </h2>
            </div>

            <div id="collapseTablaHoras" class="collapse" aria-labelledby="headingTablaHoras" data-parent="#accordionTablaHoras">
                <div class="card-body">
                    <div *ngIf="jsonArrayHoras.length==0; else siHoras">
                        No se encontró data. 
                    </div>
                    <ng-template #siHoras>
                        <table class="table table-striped table-bordered">
                            <thead class="bg-dark">
                                <tr>
                                    <th class="small font-weight-bold text-light indice" scope="col"></th>
                                    <th class="small font-weight-bold text-light" scope="col">Número ARS</th>
                                    <th class="small font-weight-bold text-light" scope="col">Horas</th>
                                    <th class="small font-weight-bold text-light" scope="col">Tipo Contrato</th>
                                    <th class="small font-weight-bold text-light" scope="col">Línea de Servicio</th>
                                    <th class="small font-weight-bold text-light" scope="col">Descripción</th>
                                    <th class="small font-weight-bold text-light" scope="col">Grupo de Trabajo Asignado</th>
                                    <th class="small font-weight-bold text-light" scope="col">Bloque</th>
                                    <th class="small font-weight-bold text-light" scope="col">Descripción Tarea</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ars of jsonArrayHoras; let i=index">
                                    <td class="small">{{i+1}}</td>
                                    <td class="small">{{ars.numeroArs}}</td>
                                    <td class="small">{{ars.horas}}</td>
                                    <td class="small">{{ars.tipoContrato}}</td>
                                    <td class="small">{{ars.lineaDeServicio}}</td>
                                    <td class="small">{{ars.descripcion}}</td>
                                    <td class="small">{{ars.grupoDeTrabajoAsignado}}</td>
                                    <td class="small">{{ars.bloque}}</td>
                                    <td class="small">{{ars.descripcionTarea}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </ng-template> 
                </div>
            </div>
        </div>
    </div>

</div>
