<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a 
                class="nav-link" 
                id="comercial-tab" 
                data-toggle="tab" 
                href="#comercial" 
                role="tab" 
                aria-controls="comercial"
                aria-selected="false">
                   Detalles Comercial</a>
        </li>
        <li class="nav-item">
            <a 
                class="nav-link" 
                id="resumen-comercial-tab" 
                data-toggle="tab" 
                href="#resumenComercial" 
                role="tab" 
                aria-controls="resumenComercial"
                aria-selected="false">
                    Resumen Comercial</a>
        </li>
        <li class="nav-item">
            <a 
                class="nav-link"
                id="transaccional-tab" 
                data-toggle="tab" 
                href="#transaccional" 
                role="tab" 
                aria-controls="transaccional"
                aria-selected="false">
                    Detalles Transaccional</a>
        </li>

        <li class="nav-item">
            <a 
                class="nav-link"
                id="resumen-transaccional-tab" 
                data-toggle="tab" 
                href="#resumenTransaccional" 
                role="tab" 
                aria-controls="resumenTransaccional"
                aria-selected="false">
                    Resumen Transaccional</a>
        </li>

        <li class="nav-item">
            <a 
                class="nav-link active"
                id="resumen-tab" 
                data-toggle="tab" 
                href="#resumen" 
                role="tab" 
                aria-controls="resumen"
                aria-selected="true">
                    Resumen</a>
        </li>
    </ul>
    <div class="tab-content mt-4" id="myTabContent">
        <!-- detalles comercial -->
        <div class="tab-pane fade" id="comercial" role="tabpanel" aria-labelledby="comercial-tab">
            <consolidar-tabla-por-mes 
                    *ngFor="let mes of monthNames;"
                [data]="jsonDataHorasComercial[mes]['Detalles']"
                ars=false
                tipo="Comercial"
                mes="{{ mes }}">
            </consolidar-tabla-por-mes>
        </div>

        <!-- resumen comercial -->
        <div class="tab-pane fade" id="resumenComercial" role="tabpanel" aria-labelledby="resumen-comercial-tab">
            <consolidar-resumen
                [data] = "jsonDataHorasComercial"
                tipo = "Comercial">
            </consolidar-resumen>

            <hr>

            <div class="graficos">
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas utilizadas por área de servicio</h3>
                    <canvas id="barrasHorasComercial" #barrasHorasComercial>{{ barrasHorasComercial }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>% Horas utilizadas por área de servicio</h3>
                    <canvas id="barrasPorcentajeComercial" #barrasPorcentajeComercial>{{ barrasPorcentajeComercial }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas / mes</h3>
                    <canvas id="horasMesComercial" #horasMesComercial>{{ horasMesComercial }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas / mes por área de servicio</h3>
                    <canvas id="horasMesPorAreaComercial" #horasMesPorAreaComercial>{{ horasMesPorAreaComercial }}</canvas>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 derecha">
                <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generaNuevoPDF('Comercial')">
                    Exportar Informe Comercial PDF
                    <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABK0lEQVRIx+2UvUpDMRiGn6hQ/NucRHQT2sFJcOgViKB34Sh4Ed6Ag6u4CIKzToIiblZwc9GlXRxE/KGCYB8HoxyqR05az+a7hITkffIm+QL/SpG6pLbsXU11MesZugBNYKrPfTZDCNN5AP/iJEIIX74DCes2gTngOgWWAtgHqkCjLMAYcAJMlAWohhBugVpZgMHYXqYAir6iDjAL1CPgDBjNNe3hFR0CFWCbjzpZAe6BJ+CxcJyc6uyo8+qW+qIeqONqJbaTak29+1yQ9RwqwN0BLoAZYDcmWAfOgePY7wBvqQme1TV1WN1Q2z+ka6tX6kN2sMglvwLLwAJwChx1z/1N2UvOO6IGcBNj76WYf4PlJOjEXdeBkWTTTILSv+vuOlgFWv2YR49/Fdc7ntsGSiB6CfMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDctMDdUMTc6MTM6MjIrMDA6MDCkJIB1AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA3LTA3VDE3OjEzOjIyKzAwOjAw1Xk4yQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII="
                    alt="">
                </button>
            </div>
        </div>

        <!-- detalles transaccional -->        
        <div class="tab-pane fade" id="transaccional" role="tabpanel" aria-labelledby="transaccional-tab">
            <consolidar-tabla-por-mes 
                *ngFor="let mes of monthNames;"
                [data]="jsonDataHorasTransaccional[mes]['Detalles']"
                ars=false
                tipo="Transaccional"
                mes="{{ mes }}">
            </consolidar-tabla-por-mes>
        </div>

        <!-- resumen transaccional -->        
        <div class="tab-pane fade" id="resumenTransaccional" role="tabpanel" aria-labelledby="resumen-transaccional-tab">
            <consolidar-resumen
                [data]="jsonDataHorasTransaccional"
                tipo = "Transaccional">
            </consolidar-resumen>

            <div class="graficos">
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas utilizadas por área de servicio</h3>
                    <canvas id="barrasHorasTransaccional" #barrasHorasTransaccional>{{ barrasHorasTransaccional }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>% Horas utilizadas por área de servicio</h3>
                    <canvas id="barrasPorcentajeTransaccional" #barrasPorcentajeTransaccional>{{ barrasPorcentajeTransaccional }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas / mes</h3>
                    <canvas id="horasMesTransaccional" #horasMesTransaccional>{{ horasMesTransaccional }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas / mes por área de servicio</h3>
                    <canvas id="horasMesPorAreaTransaccional" #horasMesPorAreaTransaccional>{{ horasMesPorAreaTransaccional }}</canvas>
                </div>
            </div>

            <hr>

            <div class="col-sm-12 derecha">
                <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generaNuevoPDF('Transaccional')">
                    Exportar Informe Transaccional PDF
                    <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABK0lEQVRIx+2UvUpDMRiGn6hQ/NucRHQT2sFJcOgViKB34Sh4Ed6Ag6u4CIKzToIiblZwc9GlXRxE/KGCYB8HoxyqR05az+a7hITkffIm+QL/SpG6pLbsXU11MesZugBNYKrPfTZDCNN5AP/iJEIIX74DCes2gTngOgWWAtgHqkCjLMAYcAJMlAWohhBugVpZgMHYXqYAir6iDjAL1CPgDBjNNe3hFR0CFWCbjzpZAe6BJ+CxcJyc6uyo8+qW+qIeqONqJbaTak29+1yQ9RwqwN0BLoAZYDcmWAfOgePY7wBvqQme1TV1WN1Q2z+ka6tX6kN2sMglvwLLwAJwChx1z/1N2UvOO6IGcBNj76WYf4PlJOjEXdeBkWTTTILSv+vuOlgFWv2YR49/Fdc7ntsGSiB6CfMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDctMDdUMTc6MTM6MjIrMDA6MDCkJIB1AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA3LTA3VDE3OjEzOjIyKzAwOjAw1Xk4yQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII="
                    alt="">
                </button>
            </div>
        </div>

        <div class="tab-pane fade show active" id="resumen" role="tabpanel" aria-labelledby="resumen-tab">
            <!-- resumen -->
            <consolidar-resumen
                [data]="detalles"
                tipo = "">
            </consolidar-resumen>

            <hr>

            <div class="graficos">
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas utilizadas por área de servicio</h3>
                    <canvas id="barrasHoras" #barrasHoras>{{ barrasHoras }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>% Horas utilizadas por área de servicio</h3>
                    <canvas id="barrasPorcentaje" #barrasPorcentaje>{{ barrasPorcentaje }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas / mes</h3>
                    <canvas id="horasMes" #horasMes>{{ horasMes }}</canvas>
                </div>
        
                <div class="chart-container" style="width: 80%;">
                    <h3>Horas / mes por área de servicio</h3>
                    <canvas id="horasMesPorArea" #horasMesPorArea>{{ horasMesPorArea }}</canvas>
                </div>
            </div>

            <br>

            <div class="col-sm-12 derecha">
                <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generaNuevoPDF('')">
                Exportar Informe PDF
                <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABK0lEQVRIx+2UvUpDMRiGn6hQ/NucRHQT2sFJcOgViKB34Sh4Ed6Ag6u4CIKzToIiblZwc9GlXRxE/KGCYB8HoxyqR05az+a7hITkffIm+QL/SpG6pLbsXU11MesZugBNYKrPfTZDCNN5AP/iJEIIX74DCes2gTngOgWWAtgHqkCjLMAYcAJMlAWohhBugVpZgMHYXqYAir6iDjAL1CPgDBjNNe3hFR0CFWCbjzpZAe6BJ+CxcJyc6uyo8+qW+qIeqONqJbaTak29+1yQ9RwqwN0BLoAZYDcmWAfOgePY7wBvqQme1TV1WN1Q2z+ka6tX6kN2sMglvwLLwAJwChx1z/1N2UvOO6IGcBNj76WYf4PlJOjEXdeBkWTTTILSv+vuOlgFWv2YR49/Fdc7ntsGSiB6CfMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDctMDdUMTc6MTM6MjIrMDA6MDCkJIB1AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA3LTA3VDE3OjEzOjIyKzAwOjAw1Xk4yQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII="
                alt="">
            </button>
            </div>
        </div>
    </div>
    
    <hr>

    <div class="col-sm-12 derecha">
        <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generateExcel()">
            Exportar detalles Excel 
            <img 
                src = "../../../assets/images/file-excel-regular.png"
                style = "width: 12px; height: 17px;" 
                alt = "">
        </button>
    </div>
</div>