<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 ">
            <div class="row">
                <div class="col ">
                    <h4>Subir Archivos</h4>
                </div>
            </div>
            <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoReq==1" class="fas fa-chevron-right text-dark"></i><i *ngIf="estadoReq==2" class="fas fa-spinner fa-spin"></i><i *ngIf="estadoReq==3" class="fas fa-check text-success"></i><i *ngIf="estadoReq==4" class="fas fa-times text-danger"></i>&nbsp;
                        Requerimientos:
                    </div>
                    <div class="col-12 col-sm-8"> 
                        <input [class.is-invalid]="requerimientosNoValido" formControlName="requerimientos" type="file" class="form-control-file" (change)="uploadReq($event)" (click)="click(1)">
                        <small *ngIf="requerimientosNoValido" class="text-danger">Seleccione Archivo</small>
                        <small>Exportaciones -> Requerimientos</small> 
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoTar==1" class="fas fa-chevron-right text-dark"></i><i *ngIf="estadoTar==2" class="fas fa-spinner fa-spin"></i><i *ngIf="estadoTar==3" class="fas fa-check text-success"></i><i *ngIf="estadoTar==4" class="fas fa-times text-danger"></i>&nbsp;
                        Tareas:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input id="inputTarea" [class.is-invalid]="tareasNoValido " formControlName="tareas" type="file" class="form-control-file" (change)="uploadTar($event)" (click)="click(2)">
                        <small *ngIf="tareasNoValido " class="text-danger">Seleccione Archivo</small>
                        <small>Exportaciones -> Tareas</small>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoEve==1" class="fas fa-chevron-right text-dark"></i><i *ngIf="estadoEve==2" class="fas fa-spinner fa-spin"></i><i *ngIf="estadoEve==3" class="fas fa-check text-success"></i><i *ngIf="estadoEve==4" class="fas fa-times text-danger"></i>&nbsp;
                        Eventos:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input [class.is-invalid]="eventosNoValido " formControlName="eventos" type="file" class="form-control-file" (change)="uploadEve($event)" (click)="click(3)">
                        <small *ngIf="eventosNoValido " class="text-danger">Seleccione Archivo</small>
                        <small>Exportaciones -> Eventos</small>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoFac==1" class="fas fa-chevron-right text-dark"></i><i *ngIf="estadoFac==2" class="fas fa-spinner fa-spin"></i><i *ngIf="estadoFac==3" class="fas fa-check text-success"></i><i *ngIf="estadoFac==4" class="fas fa-times text-danger"></i>&nbsp;
                        Facturación:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input [class.is-invalid]="facturacionNoValido " formControlName="facturacion" type="file" class="form-control-file" (change)="uploadFac($event)" (click)="click(4)">
                        <small *ngIf="facturacionNoValido " class="text-danger">Seleccione Archivo</small>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        Fecha:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input [class.is-invalid]="fechaNoValido " formControlName="fecha" type="date" class="date form-control">
                        <small *ngIf="fechaNoValido " class="text-danger">Seleccione Fecha</small>
                    </div>
                </div>

                <div class="row my-3 mt-5">
                    <div class="col">
                        <button class="btn btn-primary btn-block" type="submit">Generar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    alert('hola');
    // $("#inputTarea").change(function() {
    //     alert('alerta');
    // });
    input.onclick = function() {
        this.value = null;
    };
    input.onchange = function() {
        alert(this.value);
    };
</script>