<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 ">
            <div class="row">
                <div class="col ">
                    <h4>Exportación de Horas</h4>
                </div>
            </div>
            <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="generar()">
                <!-- ENERO -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Enero']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Enero']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Enero']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Enero']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Enero:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasEneroNoValido"
                            formControlName="horasEnero" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Enero')" >
                        <small *ngIf="horasEneroNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- FEBRERO -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Febrero']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Febrero']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Febrero']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Febrero']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Febrero:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasFebreroNoValido"
                            formControlName="horasFebrero" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Febrero')" >
                        <small *ngIf="horasFebreroNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- MARZO -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Marzo']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Marzo']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Marzo']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Marzo']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Marzo:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasMarzoNoValido"
                            formControlName="horasMarzo" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Marzo')" >
                        <small *ngIf="horasMarzoNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- ABRIL -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Abril']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Abril']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Abril']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Abril']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Abril:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasAbrilNoValido"
                            formControlName="horasAbril" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Abril')" >
                        <small *ngIf="horasAbrilNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- MAYO -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Mayo']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Mayo']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Mayo']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Mayo']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Mayo:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasMayoNoValido"
                            formControlName="horasMayo" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Mayo')" >
                        <small *ngIf="horasMayoNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- Junio -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Junio']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Junio']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Junio']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Junio']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Junio:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasJunioNoValido"
                            formControlName="horasJunio" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Junio')" >
                        <small *ngIf="horasJunioNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- Julio -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Julio']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Julio']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Julio']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Julio']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Julio:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasJulioNoValido"
                            formControlName="horasJulio" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Julio')" >
                        <small *ngIf="horasJulioNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- Agosto -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Agosto']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Agosto']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Agosto']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Agosto']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Agosto:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasAgostoNoValido"
                            formControlName="horasAgosto" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Agosto')" >
                        <small *ngIf="horasAgostoNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- Septiembre -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Septiembre']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Septiembre']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Septiembre']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Septiembre']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Septiembre:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasSeptiembreNoValido"
                            formControlName="horasSeptiembre" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Septiembre')" >
                        <small *ngIf="horasSeptiembreNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- Octubre -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Octubre']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Octubre']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Octubre']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Octubre']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Octubre:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasOctubreNoValido"
                            formControlName="horasOctubre" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Octubre')" >
                        <small *ngIf="horasOctubreNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- Noviembre -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Noviembre']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Noviembre']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Noviembre']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Noviembre']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Noviembre:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasNoviembreNoValido"
                            formControlName="horasNoviembre" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Noviembre')" >
                        <small *ngIf="horasNoviembreNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <!-- Diciembre -->
                <div class="row my-3">
                    <div class="col-12 col-sm-4">
                        <i *ngIf="estadoHoras['Diciembre']==1" class="fas fa-chevron-right text-dark"></i>
                        <i *ngIf="estadoHoras['Diciembre']==2" class="fas fa-spinner fa-spin"></i>
                        <i *ngIf="estadoHoras['Diciembre']==3" class="fas fa-check text-success"></i>
                        <i *ngIf="estadoHoras['Diciembre']==4" class="fas fa-times text-danger"></i
                            >&nbsp;
                            Diciembre:
                    </div>
                    <div class="col-12 col-sm-8">
                        <input 
                            [class.is-invalid]="horasDiciembreNoValido"
                            formControlName="horasDiciembre" 
                            type="file" 
                            class="form-control-file" 
                            (change)="uploadHoras($event, 'Diciembre')" >
                        <small *ngIf="horasDiciembreNoValido" class="text-danger">
                            Seleccione Archivo<br/>
                        </small>
                    </div>
                </div>

                <div class="row my-3 mt-5">
                    <div class="col">
                        <button class="btn btn-primary btn-block" type="submit">Generar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- <small>ARS -> Exportaciones -> Horas Nuevo -> Incurridas</small> -->
