<div class="container mb-5">
    <div class="row">
        <button class="btn btn-primary" (click)="generateExcel()">Descargar &nbsp;&nbsp;<img src="../../../assets/images/file-excel-regular.png" style="width: 12px; height: 17px;" alt=""> </button>
    </div>
    <div class="row mt-2">
        <div class="form-check">
            <input [ngClass]="{'border-0': !mostrarVal,'d-none': !mostrarVal}" class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="cambiaValor()">
            <label [ngClass]="{'text-white': !mostrarVal}" class="form-check-label" for="defaultCheck1">Ocultar Edicion</label>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-striped table-bordered table-sm" id="excel-table1">
                <thead class="" style="background-color: rgb(32, 55, 100);">
                    <tr class="">
                        <th class="small font-weight-bold text-light" scope="col" style="width: 300px;text-overflow: ellipsis;">Distribución Capacity en HH</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 200px;text-overflow: ellipsis;">{{fecha1}}</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 200px;text-overflow: ellipsis;">{{fecha2}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" style="background-color: rgb(242, 242, 242)">
                        <td class="small text-dark text-center" scope="col" style="width: 300px;text-overflow: ellipsis;">FTE Comprometido</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">49.50</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">49.50</td>
                    </tr>
                    <tr class="" style="background-color: rgb(217, 225, 242)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 200px;text-overflow: ellipsis;">Total Capacity Mes Comprometido</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">8,910.00</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">8,910.00</td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Evolutivos</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{capacityService.totalMes1 + Reservavalor1|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{capacityService.totalMes2 + Reservavalor2|number:'1.2'}}</td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;En ejecución</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="capacityService.totalMes1" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                        <!-- <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{capacityService.totalMes|number:'1.2'}}</td> -->
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="capacityService.totalMes2" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;Reservado</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Reservavalor1" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Reservavalor2" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Mantención y Centro de Compentencia</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{(Mttovalor1 + Mttovalor2)|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{(Mttovalor3 + Mttovalor4)|number:'1.2'}}</td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;Mantención y Centro de Compentencia + BUC</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input (keyup)="cambiarTotal()" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor1" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor3" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;Mantención Backend</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input (keyup)="cambiarTotal()" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor2" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor4" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Capacity disponible SWF</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - capacityService.totalMes1 - (Mttovalor1 + Mttovalor2)|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - capacityService.totalMes2 - (Mttovalor3 + Mttovalor4)|number:'1.2'}}</td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Capacity sin asignar SWF</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - (capacityService.totalMes1 + Reservavalor1) - (Mttovalor1 + Mttovalor2)|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - (capacityService.totalMes2 + Reservavalor2) - (Mttovalor3 + Mttovalor4)|number:'1.2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="container mb-5" id="excel-table">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-striped table-bordered table-sm" id="excel-table2">
                <thead class="" style="background-color: rgb(32, 55, 100);">
                    <tr class="">
                        <th *ngIf="mostrarVal" class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 20px" id="Col1">&nbsp;</th>
                        <th class="small font-weight-bold text-light" scope="col" style="width: 300px;text-overflow: ellipsis;">Capacidad Adicional</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 180px;text-overflow: ellipsis;">{{fecha1}}</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 180px;text-overflow: ellipsis;">{{fecha2}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let CS of capacityService.jsonDataPlanServiceCS; let i = index" class="" style="background-color: rgb(255, 255, 255)">
                        <td *ngIf="mostrarVal" class="small text-center puntero text-danger" scope="col" style="width: 20px" (click)="eliminarCS(i)" id="Col2">X</td>
                        <td class="small text-dark text-left" scope="col" style="width: 350px;text-overflow: ellipsis;">{{CS.descripcion}}</td>
                        <td class="small text-dark text-right" scope="col" style="width: 180px;text-overflow: ellipsis;"><input (keyup)="cambiarTotalCS()" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="CS.mes1.totalMes1" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                        <td class="small text-dark text-right" scope="col" style="width: 180px;text-overflow: ellipsis;"><input (keyup)="cambiarTotalCS()" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="CS.mes2.totalMes2" class="text-right" pattern="" type="text" style="border: 0px;" [disabled]="!mostrarVal"></td>
                        <!-- <td class="small text-dark text-right" scope="col" style="width: 180px;text-overflow: ellipsis;">{{CS.mes1.totalMes1}}</td> -->
                        <!-- <td class="small text-dark text-right" scope="col" style="width: 180px;text-overflow: ellipsis;">{{CS.mes2.totalMes2}}</td> -->
                    </tr>
                    <tr class="" style="background-color: rgb(32, 55, 100)">
                        <td *ngIf="mostrarVal" class="small font-weight-bold text-light text-center" scope="col" colspan="2" style="width: 300px;text-overflow: ellipsis;">Total</td>
                        <td *ngIf="!mostrarVal" class="small font-weight-bold text-light text-center" scope="col" colspan="1" style="width: 300px;text-overflow: ellipsis;">Total</td>
                        <td class="small font-weight-bold text-light text-right" scope="col" style="width: 180px;text-overflow: ellipsis;">{{capacityService.totalMes1CS|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-light text-right" scope="col" style="width: 180px;text-overflow: ellipsis;">{{capacityService.totalMes2CS|number:'1.2'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="m-0" style="font-size: 12px">
    <div class="row justify-content-center mb-2">
        <h6>Detalle {{fecha1}}</h6>
    </div>
    <div class="row justify-content-center" style="height: 100%;">
        <div class="col-11">
            <div class="div mb-5" id="tareas">
                <table class="table table-striped table-bordered table-sm" id="excel-table3">
                    <thead class="bg-dark">
                        <tr class="">
                            <th *ngIf="mostrarVal" class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 20px" id="Col1">&nbsp;</th>
                            <th class="small font-weight-bold text-light" scope="col" style="width: 300px;text-overflow: ellipsis;">Requerimiento</th>
                            <th *ngFor="let dias of capacityService.dias; let i=index" class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 35px">{{i+1}}</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 40px">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plan of capacityService.jsonDataPlanService; let i=index" [ngClass]="{'colorcs': plan.descripcion.substr(0,2)==='CS'}">
                            <td *ngIf="mostrarVal" class="small text-center puntero text-danger" scope="col" style="width: 20px" (click)="eliminar(i)" id="Col2">X</td>
                            <td class="small text-dark text-left text-truncate" scope="col" style="width: 300px;text-overflow: ellipsis;" [ngClass]="{'danger':  plan.descripcion.substr(0,2)!=='CS' && plan.descripcion.substr(0,2)!=='MA' && plan.descripcion.substr(0,2)!=='AS'}">{{plan.descripcion}}</td>
                            <td *ngFor="let dias of plan.mes1" [ngClass]="{'text-light': dias.total==0, 'text-dark': dias.total>0}" class="small text-dark text-right" scope="col" style="width: 35px;padding-left:2px;padding-right: 2px;">{{dias.total}}</td>
                            <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 40px">{{plan.mes1.totalMes1}}
                            </td>

                        </tr>
                        <tr>
                            <td *ngIf="mostrarVal" class="small text-light text-left font-weight-bold" scope="col" colspan="2" style="width: 300px;background-color: rgb(79, 129, 189);">Capacidad Utilizada</td>
                            <td *ngIf="!mostrarVal" class="small text-light text-left font-weight-bold" scope="col" colspan="1" style="width: 300px;background-color: rgb(79, 129, 189);">Capacidad Utilizada</td>
                            <td *ngFor="let dia of capacityService.totalDia" class="small text-dark text-right " scope="col" style="width: 35px;padding-left:2px;padding-right: 2px;">{{dia.total|number:'1.1'}}</td>
                            <td class="small text-dark text-right" scope="col" style="width: 35px">{{ capacityService.totalMes1|number:'1.1'}}
                            </td>

                        </tr>
                        <tr>
                            <td *ngIf="mostrarVal" class="small text-light text-left font-weight-bold" scope="col" colspan="2" style="width: 300px;background-color: rgb(79, 129, 189);">Capacidad Disponible</td>
                            <td *ngIf="!mostrarVal" class="small text-light text-left font-weight-bold" scope="col" colspan="1" style="width: 300px;background-color: rgb(79, 129, 189);">Capacidad Disponible</td>
                            <td *ngFor="let dia of capacityService.capacidadporDia" class="small text-dark text-right" scope="col" style="width: 35px;padding-left:2px;padding-right: 2px;">{{dia.total|number:'1.1'}}</td>
                            <td class="small text-dark text-right" scope="col" style="width: 35px">{{capacityService.totalDisponible|number:'1.1'}}
                            </td>

                        </tr>
                        <tr style="background-color: rgb(79, 129, 189);">
                            <td *ngIf="mostrarVal" class="small text-light text-left font-weight-bold" scope="col" colspan="2" style="width: 300px;">Total</td>
                            <td *ngIf="!mostrarVal" class="small text-light text-left font-weight-bold" scope="col" colspan="1" style="width: 300px;">Total</td>
                            <td *ngFor="let dia of capacityService.TotalcapacidadporDia" class="small text-light text-right" scope="col" style="width: 35px;padding-left:2px;padding-right: 2px;">{{dia.total|number:'1.1'}}</td>
                            <td class="small font-weight-bold text-light text-right" scope="col" style="width: 40px">{{capacityService.totalTotal|number:'1.1'}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<div class="m-0 mt-4" style="font-size: 12px;">
    <div class="row justify-content-center mb-2">
        <h6>Resumen {{fecha2}}</h6>
    </div>
    <div class="row justify-content-center" style="height: 100%;">

        <div class="col-4">
            <div class="div mb-5" id="tareas">
                <table class="table table-striped table-bordered table-sm" id="excel-table3">
                    <thead class="bg-dark">
                        <tr class="">
                            <!-- <th *ngIf="mostrarVal" class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px" id="Col1">&nbsp;</th> -->
                            <th class="small font-weight-bold text-light" scope="col" style="width: 300px;text-overflow: ellipsis;">Requerimiento</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 50px">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plan of capacityService.jsonDataPlanService2; let i=index" [ngClass]="{'colorcs': plan.descripcion.substr(0,2)==='CS'}">
                            <!-- <td *ngIf="mostrarVal" class="small text-center puntero text-danger" scope="col" style="width: 36px" (click)="eliminar(i)" id="Col2">X</td> -->
                            <td class="small text-dark text-left text-truncate" scope="col" style="width: 300px;text-overflow: ellipsis;">{{plan.descripcion}}</td>
                            <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 50px">{{plan.mes1.totalMes1}}
                            </td>

                        </tr>
                        <tr>
                            <td class="small text-light text-left font-weight-bold" scope="col" colspan="1" style="width: 300px;background-color: rgb(79, 129, 189);">Capacidad Utilizada</td>
                            <!-- <td *ngIf="!mostrarVal" class="small text-light text-left font-weight-bold" scope="col" colspan="1" style="width: 300px;background-color: rgb(79, 129, 189);">Capacidad Utilizada</td> -->
                            <!-- <td *ngFor="let dia of capacityService.totalDia" class="small text-dark text-right " scope="col" style="width: 36px">{{dia.total|number:'1.2'}}</td> -->
                            <td class="small text-light text-right font-weight-bold" scope="col" style="width: 36px; background-color: rgb(79, 129, 189);">{{ capacityService.totalMes2|number:'1.2'}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>