<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-striped table-bordered table-sm">
                <thead class="" style="background-color: rgb(32, 55, 100);">
                    <tr class="">
                        <th class="small font-weight-bold text-light" scope="col" style="width: 300px;text-overflow: ellipsis;">Distribucioón Capacity en HH</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 200px;text-overflow: ellipsis;">{{fecha1}}</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 200px;text-overflow: ellipsis;">{{fecha2}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" style="background-color: rgb(242, 242, 242)">
                        <td class="small text-dark text-center" scope="col" style="width: 300px;text-overflow: ellipsis;">FTE Comprometido</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">49.50</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">49.50</td>
                    </tr>
                    <tr class="" style="background-color: rgb(217, 225, 242)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 200px;text-overflow: ellipsis;">Total Capacity Mes Comprometido</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">8,910.00</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">8,910.00</td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Evolutivos</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{capacityService.totalMes + Reservavalor1|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{Ejecucion2 + Reservavalor2|number:'1.2'}}</td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;En ejecución</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{capacityService.totalMes|number:'1.2'}}</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Ejecucion2" class="text-right" pattern="" type="text" style="border: 0px;"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;Reservado</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Reservavalor1" class="text-right" pattern="" type="text" style="border: 0px;"></td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Reservavalor2" class="text-right" pattern="" type="text" style="border: 0px;"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Mantención y Centro de Compentencia</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{(Mttovalor1 + Mttovalor2)|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{(Mttovalor3 + Mttovalor4)|number:'1.2'}}</td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;Mantención y Centro de Compentencia + BUC</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor1" class="text-right" pattern="" type="text" style="border: 0px;"></td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor3" class="text-right" pattern="" type="text" style="border: 0px;"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">&nbsp; &nbsp;Mantención Backend</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor2" class="text-right" pattern="" type="text" style="border: 0px;"></td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;"><input currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" [(ngModel)]="Mttovalor4" class="text-right" pattern="" type="text" style="border: 0px;"></td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Capacity disponible SWF</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - capacityService.totalMes - (Mttovalor1 + Mttovalor2)|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - Ejecucion2 - (Mttovalor3 + Mttovalor4)|number:'1.2'}}</td>
                    </tr>
                    <tr class="" style="background-color: rgb(180, 198, 231)">
                        <td class="small font-weight-bold text-dark" scope="col" style="width: 300px;text-overflow: ellipsis;">Capacity sin asignar SWF</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - (capacityService.totalMes + Reservavalor1) - (Mttovalor1 + Mttovalor2)|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{8910 - (Ejecucion2 + Reservavalor2) - (Mttovalor3 + Mttovalor4)|number:'1.2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-striped table-bordered table-sm">
                <thead class="" style="background-color: rgb(32, 55, 100);">
                    <tr class="">
                        <th class="small font-weight-bold text-light" scope="col" style="width: 300px;text-overflow: ellipsis;">Capacidad Adicional</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 200px;text-overflow: ellipsis;">{{fecha1}}</th>
                        <th class="small font-weight-bold text-light text-center" scope="col" style="width: 200px;text-overflow: ellipsis;">{{fecha2}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let CS of capacityService.jsonDataPlanServiceCS" class="" style="background-color: rgb(255, 255, 255)">
                        <td class="small text-dark text-left" scope="col" style="width: 300px;text-overflow: ellipsis;">{{CS.descripcion}}</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">180.00</td>
                        <td class="small text-dark text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">180.00</td>
                    </tr>
                    <tr class="" style="background-color: rgb(32, 55, 100)">
                        <td class="small font-weight-bold text-light text-center" scope="col" style="width: 300px;text-overflow: ellipsis;">Total</td>
                        <td class="small font-weight-bold text-light text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{180.00 * capacityService.jsonDataPlanServiceCS.length|number:'1.2'}}</td>
                        <td class="small font-weight-bold text-light text-right" scope="col" style="width: 200px;text-overflow: ellipsis;">{{180.00 * capacityService.jsonDataPlanServiceCS.length|number:'1.2'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="m-0" style="font-size: 12px;overflow-x: scroll">
    <div class="row justify-content-center" style="height: 100%;">
        <div class="col-11">
            <div class="div mb-5" id="tareas">
                <table class="table table-striped table-bordered table-sm">
                    <thead class="bg-dark">
                        <tr class="">
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">&nbsp;</th>
                            <th class="small font-weight-bold text-light" scope="col" style="width: 300px;text-overflow: ellipsis;">Requerimiento</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">1</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">2</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">3</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">4</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">5</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">6</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">7</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">8</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">9</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">10</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">11</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">12</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">13</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">14</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">15</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">16</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">17</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">18</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">19</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">20</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">21</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">22</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">23</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">24</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">25</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">26</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">27</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">28</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">29</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">30</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 36px">31</th>
                            <th class="small font-weight-bold text-light text-right ml-0" scope="col" style="width: 50px">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plan of capacityService.jsonDataPlanService; let i=index">
                            <td class="small text-center puntero text-danger" scope="col" style="width: 36px" (click)="eliminar(i)">X</td>
                            <td class="small text-dark text-left text-truncate" scope="col" style="width: 300px;text-overflow: ellipsis;">{{plan.descripcion}}</td>
                            <td [ngClass]="{'text-light': plan.dia1==0, 'text-dark': plan.dia1>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia1}}</td>
                            <td [ngClass]="{'text-light': plan.dia2==0, 'text-dark': plan.dia2>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia2}}</td>
                            <td [ngClass]="{'text-light': plan.dia3==0, 'text-dark': plan.dia3>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia3}}</td>
                            <td [ngClass]="{'text-light': plan.dia4==0, 'text-dark': plan.dia4>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia4}}</td>
                            <td [ngClass]="{'text-light': plan.dia5==0, 'text-dark': plan.dia5>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia5}}</td>
                            <td [ngClass]="{'text-light': plan.dia6==0, 'text-dark': plan.dia6>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia6}}</td>
                            <td [ngClass]="{'text-light': plan.dia7==0, 'text-dark': plan.dia7>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia7}}</td>
                            <td [ngClass]="{'text-light': plan.dia8==0, 'text-dark': plan.dia8>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia8}}</td>
                            <td [ngClass]="{'text-light': plan.dia9==0, 'text-dark': plan.dia9>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia9}}</td>
                            <td [ngClass]="{'text-light': plan.dia10==0, 'text-dark': plan.dia10>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia10}}</td>
                            <td [ngClass]="{'text-light': plan.dia11==0, 'text-dark': plan.dia11>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia11}}</td>
                            <td [ngClass]="{'text-light': plan.dia12==0, 'text-dark': plan.dia12>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia12}}</td>
                            <td [ngClass]="{'text-light': plan.dia13==0, 'text-dark': plan.dia13>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia13}}</td>
                            <td [ngClass]="{'text-light': plan.dia14==0, 'text-dark': plan.dia14>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia14}}</td>
                            <td [ngClass]="{'text-light': plan.dia15==0, 'text-dark': plan.dia15>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia15}}</td>
                            <td [ngClass]="{'text-light': plan.dia16==0, 'text-dark': plan.dia16>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia16}}</td>
                            <td [ngClass]="{'text-light': plan.dia17==0, 'text-dark': plan.dia17>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia17}}</td>
                            <td [ngClass]="{'text-light': plan.dia18==0, 'text-dark': plan.dia18>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia18}}</td>
                            <td [ngClass]="{'text-light': plan.dia19==0, 'text-dark': plan.dia19>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia19}}</td>
                            <td [ngClass]="{'text-light': plan.dia20==0, 'text-dark': plan.dia20>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia20}}</td>
                            <td [ngClass]="{'text-light': plan.dia21==0, 'text-dark': plan.dia21>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia21}}</td>
                            <td [ngClass]="{'text-light': plan.dia22==0, 'text-dark': plan.dia22>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia22}}</td>
                            <td [ngClass]="{'text-light': plan.dia23==0, 'text-dark': plan.dia23>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia23}}</td>
                            <td [ngClass]="{'text-light': plan.dia24==0, 'text-dark': plan.dia24>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia24}}</td>
                            <td [ngClass]="{'text-light': plan.dia25==0, 'text-dark': plan.dia25>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia25}}</td>
                            <td [ngClass]="{'text-light': plan.dia26==0, 'text-dark': plan.dia26>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia26}}</td>
                            <td [ngClass]="{'text-light': plan.dia27==0, 'text-dark': plan.dia27>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia27}}</td>
                            <td [ngClass]="{'text-light': plan.dia28==0, 'text-dark': plan.dia28>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia28}}</td>
                            <td [ngClass]="{'text-light': plan.dia29==0, 'text-dark': plan.dia29>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia29}}</td>
                            <td [ngClass]="{'text-light': plan.dia30==0, 'text-dark': plan.dia30>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia30}}</td>
                            <td [ngClass]="{'text-light': plan.dia31==0, 'text-dark': plan.dia31>0}" class="small text-dark text-right" scope="col" style="width: 36px">{{plan.dia31}}</td>
                            <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 50px">{{ plan.dia1 + plan.dia2 + plan.dia3 + plan.dia4 + plan.dia5 + plan.dia6 + plan.dia7 + plan.dia8 + plan.dia9 + plan.dia10 + plan.dia11 + plan.dia12 + plan.dia13 + plan.dia14 + plan.dia15 + plan.dia16 + plan.dia17 + plan.dia18
                                + plan.dia19 + plan.dia20 + plan.dia21 + plan.dia22 + plan.dia23 + plan.dia24 + plan.dia25 + plan.dia26 + plan.dia27 + plan.dia28 + plan.dia29 + plan.dia30 + plan.dia31 }}
                            </td>

                        </tr>
                        <tr>
                            <td class="small text-light text-left font-weight-bold" scope="col" colspan="2" style="width: 300px;background-color: rgb(79, 129, 189);">Capacidad Utilizada</td>
                            <!-- <td class="small text-light text-left font-weight-bold" scope="col" style="width: 300px; background-color: rgb(79, 129, 189);"></td> -->
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia1}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia2}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia3}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia4}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia5}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia6}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia7}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia8}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia9}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia10}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia11}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia12}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia13}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia14}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia15}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia16}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia17}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia18}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia19}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia20}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia21}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia22}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia23}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia24}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia25}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia26}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia27}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia28}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia29}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia30}}</td>
                            <td class="small text-dark text-right font-weight-bold" scope="col" style="width: 36px">{{capacityService.totales.dia31}}</td>
                            <td class="small font-weight-bold text-dark text-right" scope="col" style="width: 36px">{{ capacityService.totalMes}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>