
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a 
                class="nav-link" 
                id="comercial-tab" 
                data-toggle="tab" 
                href="#comercial" 
                role="tab" 
                aria-controls="comercial"
                aria-selected="false">
                    Comercial</a>
        </li>
        <li class="nav-item">
            <a 
                class="nav-link"
                id="transaccional-tab" 
                data-toggle="tab" 
                href="#transaccional" 
                role="tab" 
                aria-controls="transaccional"
                aria-selected="false">
                    Transaccional</a>
        </li>
        <li class="nav-item">
            <a 
                class="nav-link active"
                id="resumen-tab" 
                data-toggle="tab" 
                href="#resumen" 
                role="tab" 
                aria-controls="resumen"
                aria-selected="true">
                    Resumen</a>
        </li>
    </ul>
    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade" id="comercial" role="tabpanel" aria-labelledby="comercial-tab">
            <!-- comercial -->        
            <consolidar-tabla-por-mes 
                    *ngFor="let mes of monthNames;"
                [data]="jsonDataHorasComercial[mes]"
                ars=true
                tipo="Comercial"
                mes="{{ mes }}">
            </consolidar-tabla-por-mes>
        </div>
        
        <div class="tab-pane fade" id="transaccional" role="tabpanel" aria-labelledby="transaccional-tab">
            <!-- transaccional -->
            <consolidar-tabla-por-mes 
                *ngFor="let mes of monthNames;"
                [data]="jsonDataHorasTransaccional[mes]"
                ars=true
                tipo="Transaccional"
                mes="{{ mes }}">
            </consolidar-tabla-por-mes>
        </div>

        <div class="tab-pane fade show active" id="resumen" role="tabpanel" aria-labelledby="resumen-tab">
            <!-- resumen -->
            <table class="table table-striped table-bordered">
                <thead class="bg-dark">
                    <tr class="small font-weight-bold text-light">
                        <th>Periodo</th>
                        <th>Soporte</th>
                        <th>Incidente</th>
                        <th>Problema</th>
                        <th>Gestión</th>
                        <th>Mantenimiento</th>
                        <th>%</th>
                        <th>HH Consumidas</th>
                        <th>Presupuesto</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let mes of monthNames;">
                        <td>{{ mes }}</td>
                        <td>{{ detalles[mes]['Soporte'] }}</td>
                        <td>{{ detalles[mes]['Incidente'] }}</td>
                        <td>{{ detalles[mes]['Problema'] }}</td>
                        <td>{{ detalles[mes]['Gestion'] }}</td>
                        <td>{{ detalles[mes]['Mantenimiento'] }}</td>

                        <td>{{ detalles[mes]['Porcentaje'] }}%</td>

                        <td>{{ detalles[mes]['HHConsumidas'] }}</td>

                        <td>
                            <input 
                                type="number" 
                                class="form-control" 
                                value="{{ detalles[mes]['Presupuesto'] }}"
                                id="inputPresupuesto{{ mes }}" 
                                (change)="cambiarPresupuesto(mes);"
                            />
                        </td>
                    </tr>


                </tbody>

                <tfoot>
                    <tr>
                        <td>Total general</td>

                        <td>{{ detalles['total']['Soporte'] }}</td>
                        <td>{{ detalles['total']['Incidente'] }}</td>
                        <td>{{ detalles['total']['Problema'] }}</td>
                        <td>{{ detalles['total']['Gestion'] }}</td>
                        <td>{{ detalles['total']['Mantenimiento'] }}</td>

                        <td>{{ detalles['total']['Porcentaje'] }}%</td>

                        <td>{{ detalles['total']['HHConsumidas'] }}</td>
                        <td>{{ detalles['total']['Presupuesto'] }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <hr>

    <div class="col-sm-12 derecha">
        <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generateExcel()">
            Exportar detalles Excel 
            <img 
                src = "../../../assets/images/file-excel-regular.png"
                style = "width: 12px; height: 17px;" 
                alt = "">
        </button>
    </div>

    <br>

    <div class="col-sm-12 derecha">
        <button class="btn waves-effect waves-light btn-rounded btn-danger" (click)="generaNuevoPDF()">
           Exportar Informe PDF
           <img
           src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABK0lEQVRIx+2UvUpDMRiGn6hQ/NucRHQT2sFJcOgViKB34Sh4Ed6Ag6u4CIKzToIiblZwc9GlXRxE/KGCYB8HoxyqR05az+a7hITkffIm+QL/SpG6pLbsXU11MesZugBNYKrPfTZDCNN5AP/iJEIIX74DCes2gTngOgWWAtgHqkCjLMAYcAJMlAWohhBugVpZgMHYXqYAir6iDjAL1CPgDBjNNe3hFR0CFWCbjzpZAe6BJ+CxcJyc6uyo8+qW+qIeqONqJbaTak29+1yQ9RwqwN0BLoAZYDcmWAfOgePY7wBvqQme1TV1WN1Q2z+ka6tX6kN2sMglvwLLwAJwChx1z/1N2UvOO6IGcBNj76WYf4PlJOjEXdeBkWTTTILSv+vuOlgFWv2YR49/Fdc7ntsGSiB6CfMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDctMDdUMTc6MTM6MjIrMDA6MDCkJIB1AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA3LTA3VDE3OjEzOjIyKzAwOjAw1Xk4yQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII="
           alt="">
       </button>
    </div>

    <hr>
    
    <div>
        <div class="chart-container" style="width: 80%;">
            <h3>Horas utilizadas por área de servicio</h3>
            <canvas id="barrasHoras" #barrasHoras>{{ barrasHoras }}</canvas>
        </div>

        <div class="chart-container" style="width: 80%;">
            <h3>% Horas utilizadas por área de servicio</h3>
            <canvas id="barrasPorcentaje" #barrasPorcentaje>{{ barrasPorcentaje }}</canvas>
        </div>

        <div class="chart-container" style="width: 80%;">
            <h3>Horas / mes</h3>
            <canvas id="horasMes" #horasMes>{{ horasMes }}</canvas>
        </div>

        <div class="chart-container" style="width: 80%;">
            <h3>Horas / mes por área de servicio</h3>
            <canvas id="horasMesPorArea" #horasMesPorArea>{{ horasMesPorArea }}</canvas>
        </div>
    </div>
</div>