<div class="container">
    <div id="formulario">
        
        <div class="row my-3">
            <div class="col-12 col-sm-8">
                <small>ZH02 (Deploy)</small>
                <input type="file" class="form-control-file" (change)="agregarFile('ZH02', $event)" [attr.disabled]="estadoZH02">
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 col-sm-8">
                <small>Time Report Status (Status MyTe)</small>
                <input type="file" class="form-control-file" (change)="agregarFile('Time Report Status', $event)" [attr.disabled]="estadoTimeReportStatus">
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 col-sm-8">
                <small>Resource Trend (Forecast/MME)</small>
                <input type="file" class="form-control-file" (change)="agregarFile('Resource Trend', $event)" [attr.disabled]="estadoResourceTrend">
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 col-sm-8">
                <small>Forecasted Time Details (HH MyTe)</small>
                <input type="file" class="form-control-file" (change)="agregarFile('Forecasted Time Details', $event)" [attr.disabled]="estadoForecastedTimeDetails">
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 col-sm-8">
                <small>Authorization List Report (Autorizar WBS)</small>
                <input type="file" class="form-control-file" (change)="agregarFile('Authorization List Report', $event)" [attr.disabled]="estadoAuthorizationListReport">
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 col-sm-8">
                <small>Planilla completa (Estructura Equipo)</small>
                <input type="file" class="form-control-file" (change)="agregarFile('Planilla completa', $event)" [attr.disabled]="estadoPlanillaCompleta">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-8">
                <small>Revenues New AO (Forecast Revenues)</small>
                <input type="file" class="form-control-file" (change)="agregarFile('Revenues New AO', $event)" [attr.disabled]="estadoRevenuesNewAO">
            </div>
        </div>

        <div class="switchDiv">
            <label class="switch">
                <input type="checkbox" (click)="filtro()" id="checkboxFiltro">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="col-sm-12 derecha" *ngIf="archivos.length > 0">
            <button class="btn waves-effect waves-light btn-rounded btn-danger btnExportar" (click)="generarExcel()" [style.display]="archivos.length > 1 ? 'inline-block' : 'none'">
                Exportar detalles Excel 
                <img src="../../../assets/images/file-excel-regular.png" style="width: 12px; height: 17px;" alt="">
            </button>
        </div>
    </div>

    <div id="tabla" class="table table-striped table-bordered">
        
        <table class="headerFixed">
            <thead class="bg-dark">
                <tr class="small font-weight-bold text-light">
                    <th *ngFor="let cabecera of cabeceras; let i=index">
                        {{cabecera}}
                    </th>
                </tr>
            </thead>
            <tbody class="small">

                <tr *ngFor="let fila of arreglo[archivos[0]]; let i=index" id="filtroOff" [style.display]="isFiltroOff ? 'table-row' : 'none'">
                    <td *ngIf="archivos.length >= 1 ">{{ arreglo[archivos[0]][i] }}</td>
                    <td *ngIf="archivos.length >= 2 ">{{ arreglo[archivos[1]][i] }}</td>
                    <td *ngIf="archivos.length >= 3 ">{{ arreglo[archivos[2]][i] }}</td>
                    <td *ngIf="archivos.length >= 4 ">{{ arreglo[archivos[3]][i] }}</td>
                    <td *ngIf="archivos.length >= 5 ">{{ arreglo[archivos[4]][i] }}</td>
                    <td *ngIf="archivos.length >= 6 ">{{ arreglo[archivos[5]][i] }}</td>
                    <td *ngIf="archivos.length >= 7 ">{{ arreglo[archivos[6]][i] }}</td>
                    <td *ngIf="archivos.length >= 8 ">{{ arreglo[archivos[7]][i] }}</td>
                </tr>

                <tr *ngFor="let fila of arregloWeb[archivos[0]]; let i=index" id="filtroOn" [style.display]="isFiltroOn ? 'table-row' : 'none'">
                    <td *ngIf="archivos.length >= 1 ">{{ arregloWeb[archivos[0]][i] }}</td>
                    <td *ngIf="archivos.length >= 2 ">{{ arregloWeb[archivos[1]][i] }}</td>
                    <td *ngIf="archivos.length >= 3 ">{{ arregloWeb[archivos[2]][i] }}</td>
                    <td *ngIf="archivos.length >= 4 ">{{ arregloWeb[archivos[3]][i] }}</td>
                    <td *ngIf="archivos.length >= 5 ">{{ arregloWeb[archivos[4]][i] }}</td>
                    <td *ngIf="archivos.length >= 6 ">{{ arregloWeb[archivos[5]][i] }}</td>
                    <td *ngIf="archivos.length >= 7 ">{{ arregloWeb[archivos[6]][i] }}</td>
                    <td *ngIf="archivos.length >= 8 ">{{ arregloWeb[archivos[7]][i] }}</td>
                </tr>
            </tbody>
        </table>

        <!--
            <div class="row">
              
              <div class="col" *ngFor="let cabecera of cabeceras; let i=index">
                {{cabecera}}
              </div>

              <div class="w-100"></div>
              
              <ng-container *ngFor="let fila of arreglo[archivos[0]]; let i=index" id="filtroOff" [style.display]="isFiltroOff ? 'table-row' : 'none'">
                <div class="col" *ngIf="archivos.length >= 1 ">{{ arreglo[archivos[0]][i] }}</div>
                <div class="col" *ngIf="archivos.length >= 2 ">{{ arreglo[archivos[1]][i] }}</div>
                <div class="col" *ngIf="archivos.length >= 3 ">{{ arreglo[archivos[2]][i] }}</div>
                <div class="col" *ngIf="archivos.length >= 4 ">{{ arreglo[archivos[3]][i] }}</div>
                <div class="col" *ngIf="archivos.length >= 5 ">{{ arreglo[archivos[4]][i] }}</div>
                <div class="col" *ngIf="archivos.length >= 6 ">{{ arreglo[archivos[5]][i] }}</div>
                <div class="col" *ngIf="archivos.length >= 7 ">{{ arreglo[archivos[6]][i] }}</div>

                <div class="w-100"></div>
              </ng-container>
            </div>
        -->
    </div>
</div>